html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------reset code------------------*/

header { width: 100%; height: 119px; }
header > div{
    background-image: url("./images/agatha_logo.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    width: 105px;  height: 67px;
    margin: 0 auto;
    padding-top: 12px;
    text-align: center;
}

nav{
    background-color: gray;
    width: 100%; height: 40px;
    margin: 0 auto;
    
}
nav > ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 27.5px;
}
/*--------------------header------------------*/

main > div:first-child{
    background-image: url(./images/mainbanner1_01_200519_d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; height: 187.5px;
}
/*-------------------- main 1------------------*/

main > div:nth-child(2){
    background-image: url(./images/mainbanner2_01_200619_d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;  height: 187.5px;
}
/*-------------------- main 2------------------*/

main > div:nth-child(3){
    background-image: url(./images/mainbanner3_06_200715_d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;  height: 187.5px;
}
/*-------------------- main 3------------------*/

main > div:nth-child(4){
    background-color: rgb( 0, 29 , 67 );
    margin: 0 auto;
    align-items: center;
    height: 515px;
    padding: 19px 20px 40px;
}

main > div:nth-child(4) > div{
    background-image: url(./images/img_about02_t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;  height: 314px;
    max-width: 335px;
    padding: 20px 0;
    margin: 0 auto;
}


main > div:nth-child(4) > p{
    color: white;
}

main > div:nth-child(4) > p:first-child{
    font-size: 17px;
    margin: 14px 0 12px;
    font-weight: bold;
}

main > div:nth-child(4) > p:nth-child(2){
    font-size: 12px;
    line-height: 2em;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    width: 100%;
}
/*-------------------- main 4-----------------*/
main > div:nth-child(5){
    background-color: #F0F0F0;
    height: 623px;
    padding: 40px 20px;
    margin: 0 0 33px; 
}

main > div:nth-child(5) > p:first-child{
    font-size: 17px;
    margin: -8px 0 12px;
    font-weight: bold;
}

main > div:nth-child(5) > p:nth-child(2){
    font-size: 12px;
    line-height: 22px;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    padding-bottom: 20px;
}

main > div:nth-child(5) > div{
    background-image: url(./images/download.jpg);
    width: 100%; height: 312px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;    
}
/*-------------------- main 5-----------------*/

main > div:nth-child(6){
    width: 100%; height: 55px;
    margin-bottom: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}
main > div:nth-child(6) > p:first-child{
    font-size: 17px;
    margin: 0 0 12px ;
    color: #001D43;
    font-weight: bold;
}
main > div:nth-child(6) > p:last-child{
    font-size: 12px;
    color: #666666;
}

/*-------------------- main -----------------*/
aside{
    width: 100%; height: 47px;
}

aside > div:first-child{
    width: 100%;  height: 17px;
    background-color: #888888;
    display: flex;
    justify-content: center;
    padding: 15px 0;    
    margin: 0 auto;
}

aside > div:first-child > div{
    border-right: 1px solid white;
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
}

aside > div:first-child > div:first-child{
    background-image: url(./images/download.png) ;
    width:80px; height: 17px;
}
aside > div:first-child > div:nth-child(2){
    background-image: url(./images/facebook_link.png);
    width: 54px; height: 17px;
}
aside > div:first-child > div:last-child{
    background-image: url(./images/instagram_link.png);
    width: 63px; height: 17px;
    border-right: none;
}
/*-------------------- aside 1------------------*/

aside > div:last-child{
    width: 100%;  height: 47px;
    background-color: #888888;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

aside > div:last-child > div{
    border-right: 1px solid white;
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
}
button{
    background-color: #888888;
    border: 1px solid #333333;
    width: 100%; height: 32px;
    margin: 0 100px
}

/*-------------------- aside 2 ------------------*/
footer{
    width: 100%;
    background-color: #333333;
    text-align: center;
    color:#fff;
    margin-top:47px;
    font-size: 13px;
}

footer > p{
    line-height: 50px;
}

/*--------------------  ------------------*/
